.card{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 30px;
    background: rgba(255, 255, 255, 0.064);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.407);
    backdrop-filter: blur( 1.5px );
    -webkit-backdrop-filter: blur( 1.5px );
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.298);
}
.hourlyWeather{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 1;
}

.hourlyCard{
    display: flex;
    flex-direction: column;
    margin: 10px;
    flex: 1 1 calc(25% - 20px);
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.064);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.407);
    backdrop-filter: blur( 1.5px );
    -webkit-backdrop-filter: blur( 1.5px );
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.298);
    font-weight: 700;
}

.weeklyWeather{
    display: flex;
    flex-direction: column;
    margin: 0 40px;
    flex: 1;
    font-weight: 700;
}

.weeklyWeather img {
    margin-bottom: -10px;
}