.avghumidity::before {
    content: '\01F4A7';
}

.avghumidity::after {
    content: '\000025';
}

.card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
    background: rgba(255, 255, 255, 0.064);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.407);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.298);
    padding: 10px;
}

.tempRanges::after{
    content: '\0000B0\000043';
}

.hourlyWeather {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.hourlyCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin: 0 5px;
    background: rgba(255, 255, 255, 0.064);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.407);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.298);
    font-weight: 700;
    padding: 10px;
}

.hourlyTemps::after{
    content: '\0000B0\000043';
}

.weeklyWeather {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    font-weight: 700;
}

.weeklyWeather div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.weeklyWeather span {
    align-self: center;
    margin-bottom: 5px;
}

.weeklyWeather img {
    align-self: start;
    margin-top: -10px;
}

.whiteText {
    color: white;
}
